<div class="col-md-9">
    <div class="card card-primary card-outline">
    <div class="card-header">
    <h3 class="card-title">Read Mail</h3>
    <div class="card-tools">
    <a href="#" class="btn btn-tool" title="Previous"><i class="fas fa-chevron-left"></i></a>
    <a href="#" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
    </div>
    </div>
    
   

        <div class="card-body p-0">
          <div class="mailbox-read-info">
          <h6>From: <%= data.Email%>
          <span class="mailbox-read-time float-right">15 Feb. 2015 11:03 PM</span></h6>
          </div>
          
          <div class="mailbox-controls with-border text-center">
          <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm" data-container="body" title="Delete">
          <i class="far fa-trash-alt"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply">
          <i class="fas fa-reply"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward">
          <i class="fas fa-share"></i>
          </button>
          </div>
          
          <button type="button" class="btn btn-default btn-sm" title="Print">
          <i class="fas fa-print"></i>
          </button>
          </div>
          
          <div class="mailbox-read-message">
          <p>By: <%= data.Name%>,</p>
          <p><%= data.Message%></p>
          </div>
          
          </div>
      
    
   
    
    <div class="card-footer">
    <div class="float-right">
    <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply</button>
    <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward</button>
    </div>
    <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</button>
    <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
    </div>
    
    </div>
    
    </div>