<section class="vh-50">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <form action="/shop/login/form" method="post">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Register Form</h3>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="username">Username</label>
                <input type="Username" id="username" name="username" class="form-control form-control-lg" placeholder="enter username"/>
              </div>
  
              <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="enter password" />
              </div>
             <h3 class="mb-5">User Information</h3>
             <div class="form-outline mb-4">
              <label class="form-label" for="name">Name</label>
              <input type="Name" id="name" name="userinformation[name]" class="form-control form-control-lg" placeholder="enter name" />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="phone">Phone Number</label>
              <input type="phone" id="phone" name="userinformation[phone]" class="form-control form-control-lg" placeholder="enter phone number" />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="address">Address</label>
              <input type="address" id="address" name="userinformation[address]" class="form-control form-control-lg" placeholder="enter address" />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email</label>
              <input type="email" id="email" name="userinformation[email]" class="form-control form-control-lg" placeholder="enter email" />
            </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>