


<section id="content-wrap" class="site-page">
    <div class="row">
        <div class="col-twelve">

            <section>  

                <div class="content-media">						
                     <img src="/frontend/images/thumbs/featured/1.jpg" width="50%" height="auto" max-width="500px">	
                     <input type="file">				  
                 </div>
                 <button type="submit">Save Change</button>		
                 <button >Cancle</button>	
                 <fieldset>
                    <div class="form-field">
                        <label for="Name">Account:</label>
                        <input name="Name" type="text" id="Name" class="full-width" placeholder="Account" >
                    </div>
            
                    <div class="form-field">
                        <label for="Email">Your Name:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="Your Name" >
                    </div>
                    <div class="form-field">
                        <label for="Email">Your Email:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="Your Email" >
                    </div>
                    <h2 style="text-align: center;"><strong>Change Password</strong></h2>
                    <div class="form-field">
                        <label for="Email">Current Password:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="The function is currently not supported, we will update soonest.  \( - _ -)/"  readonly>
                    </div>
                    <div class="form-field">
                        <label for="Email">New Password:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="The function is currently not supported, we will update soonest.  \( - _ -)/"  readonly>
                    </div>
                    <div class="form-field">
                        <label for="Email">Confirm Password:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="The function is currently not supported, we will update soonest.  \( - _ -)/"  readonly>
                    </div>
                    <h2 style="text-align: center;"><strong>Contact Information</strong></h2>
                    <div class="form-field">
                        <label for="Email">Phone number:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="Phone number" >
                    </div>
                    <div class="form-field">
                        <label for="Email">Address:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="Address" >
                    </div>
                    <h2 style="text-align: center;"><strong>Social Network</strong></h2>
                    <div class="form-field">
                        <label for="Email">Twitter:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="Twitter" >
                    </div>
                    <div class="form-field">
                        <label for="Email">Facebook:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="Facebook" >
                    </div>
                    <div class="form-field">
                        <label for="Email">Instagram:</label>
                        <input name="Email" type="email" id="Email" class="full-width" placeholder="Instagram" >
                    </div>
                </fieldset>				

             </section>  		