<footer class="footer-section">
    <div class="container relative">
        <div class="sofa-img">
            <img src="/product/images/logoonepiece.png" alt="Image" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center"><span class="me-1"><img src="/product/images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="/shop" class="footer-logo">One Piece<span>.</span></a></div>
                <p class="mb-4"><%= listsetting[0].about %></p>
        
                <ul class="list-unstyled custom-social">
                    <li><a href="<%= listsetting[0].facebook %>"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="<%= listsetting[0].twitter %>"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="<%= listsetting[0].youtube %>"><span class="fa fa-brands fa-youtube"></span></a></li>
                </ul>
            </div>
        
        </div>
        

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. Created by TLee.</p>
                </div>

            </div>
        </div>

    </div>
</footer>