<div class="span6">

    <h5 class="title-bg">Recent Clients
        <small>That love us</small>
        <button id="btn-client-next" class="btn btn-inverse btn-mini" type="button">&raquo;</button>
        <button id="btn-client-prev" class="btn btn-inverse btn-mini" type="button">&laquo;</button>
    </h5>

    <!-- Client Testimonial Slider-->
    <div id="clientCarousel" class="carousel slide no-margin">
    <!-- Carousel items -->
    <div class="carousel-inner">

        <div class="active item">
            <p class="quote-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie."<cite>- Client Name, Big Company</cite></p>
        </div>

        <div class="item">
            <p class="quote-text">"Adipiscing elit. In interdum felis fermentum ipsum molestie sed porttitor ligula rutrum. Morbi blandit ultricies ultrices. Vivamus nec lectus sed orci molestie molestie."<cite>- Another Client Name, Company Name</cite></p>
        </div>

        <div class="item">
            <p class="quote-text">"Mauris eget tellus sem. Cras sollicitudin sem eu elit aliquam quis condimentum nulla suscipit. Nam sed magna ante. Ut eget suscipit mauris."<cite>- On More Client, The Company</cite></p>
        </div>
        
    </div>
    </div>

    <!-- Client Logo Thumbs-->
    <ul class="client-logos">
        <li><a href="#" class="client-link"><img src="/frontend/img/gallery/client-img-1.png" alt="Client"></a></li>
        <li><a href="#" class="client-link"><img src="/frontend/img/gallery/client-img-2.png" alt="Client"></a></li>
        <li><a href="#" class="client-link"><img src="/frontend/img/gallery/client-img-3.png" alt="Client"></a></li>
        <li><a href="#" class="client-link"><img src="/frontend/img/gallery/client-img-4.png" alt="Client"></a></li>
        <li><a href="#" class="client-link"><img src="/frontend/img/gallery/client-img-5.png" alt="Client"></a></li>
    </ul>

</div>
