<div class="row headline"><!-- Begin Headline -->
    
    <!-- Slider Carousel
   ================================================== -->
   <div class="span8">
       <div class="flexslider">
         <ul class="slides">
           <li><a href="gallery-single.htm"><img src="/frontend/img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
           <li><a href="gallery-single.htm"><img src="/frontend/img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
           <li><a href="gallery-single.htm"><img src="/frontend/img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
           <li><a href="gallery-single.htm"><img src="/frontend/img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
           <li><a href="gallery-single.htm"><img src="/frontend/img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
         </ul>
       </div>
   </div>
   
   <!-- Headline Text
   ================================================== -->
   <div class="span4">
       <h3>Welcome to Piccolo. <br />
       A Big Theme in a Small Package.</h3>
       <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium vulputate magna sit amet blandit.</p>
       <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor. In sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.</p>
       <a href="#"><i class="icon-plus-sign"></i>Read More</a> 
   </div>
</div><!-- End Headline -->