<% if (locals.messages && locals.messages.length > 0) { %>
    <% locals.messages.forEach(function(message, index) { %>
      <div class="alert alert-<%= message.type %> alert-dismissible" id="alert<%= index %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-cube"></i> Alert!</h5>
        <%= message.msg %>
      </div>
      <script>
        setTimeout(function() {
          document.getElementById('alert<%= index %>').style.display = 'none';
        }, 10000);
      </script>
    <% }) %>
  <% } %>
  
