<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="/shop">One Piece<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <% listcategoryproduct.forEach((item) => { %>
                    <% if(item.special) { %>
                        <li><a href="/shop/<%= item.slug %>"><%= item.name %></a></li>
                    <% } %>
                <% }); %>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <% if(user) { %>
                    <li class="nav-link nav-item dropdown">
                        <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" role="button" aria-expanded="false"><img src="/product/images/user.svg"></a>
                        <ul class="dropdown-menu">               
                            <li>
                                <a href="/shop/account" class="dropdown-item"><img src="/<%= user.avatar%>" class="user-avatar">Your profile</a>
                            </li>
                            <li>
                                <a href="/shop/cart" class="dropdown-item"><img src="/product/images/cart.png" class="user-avatar">Your cart</a>
                            </li> 
                            <li>
                                <a href="/shop/account/upload" class="dropdown-item"><img src="/product/images/upload.png" class="user-avatar">Upload product</a>
                            </li>
                            <li>
                                <a href="/shop/account/manager" class="dropdown-item"><img src="/product/images/manager.png" class="user-avatar">Manager product</a>
                            </li>
                            <li>
                                <a href="/shop/login/out" class="dropdown-item"><img src="/product/images/shutdown.png" class="user-avatar">Log out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li><a class="nav-link" href="/shop/login/out"><img src="/product/images/shutdown.png" class="user-avatar"></a></li> -->
                <% } else { %>
                    <li><a class="nav-link" href="/shop/login"><img src="/product/images/user.svg"></a></li>
                    <li><a class="nav-link" href="/shop/cart"><img src="/product/images/cart.svg"></a></li> 
                    <% }%>  
            </ul>
        </div>
    </div>
        
</nav>
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Thousand Sunny </h1>
                    <p class="mb-4">The Thousand Sunny is the second ship of the Straw Hat Pirates, built after the Going Merry was destroyed. It is often referred to as Sunny (サニー, Sanī?) by the crew.</p>
                    <p><a href="/shop/shop" class="btn btn-secondary me-2">Shop Now</a><a href="/shop/home" class="btn btn-white-outline">Explore</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="/product/images/luffyship.png" class="img-fluid" style="width: 50%; height: auto;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->